*.iml
.gradle
/local.properties
.idea/
.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.apk
*.aab
*.toc
*.debug
*.db
*.orig
*.DS_Store
*.class
*.map
*.log
*.ignored

local.properties
secrets.properties
